*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#000;
}

.container{
    text-align:center;
}

#time{
    font-size:65px;
    font-weight:bold;
    color:white;
    letter-spacing:4px;

    padding:25px 55px;

    border:6px solid transparent;
    border-radius:18px;

    background:
    linear-gradient(#111,#111) padding-box,
    linear-gradient(
        90deg,
        #00ff88,
        #d6ff52,
        #ffd166,
        #ff7eb3,
        #b026ff
    ) border-box;

    box-shadow:
    0 0 15px #00ff88,
    0 0 30px #7cff67,
    0 0 45px #ffb347,
    0 0 60px #ff55ff;

    animation: glow 3s linear infinite;
}

@keyframes glow{

    0%{
        box-shadow:
        0 0 15px #00ff88,
        0 0 30px #00ff88,
        0 0 50px #00ff88;
    }

    25%{
        box-shadow:
        0 0 15px #ffee58,
        0 0 30px #ffee58,
        0 0 50px #ffee58;
    }

    50%{
        box-shadow:
        0 0 15px #ff8a65,
        0 0 30px #ff8a65,
        0 0 50px #ff8a65;
    }

    75%{
        box-shadow:
        0 0 15px #ff66cc,
        0 0 30px #ff66cc,
        0 0 50px #ff66cc;
    }

    100%{
        box-shadow:
        0 0 15px #8c52ff,
        0 0 30px #8c52ff,
        0 0 50px #8c52ff;
    }
}

.buttons{
    margin-top:40px;
}

button{
    padding:12px 30px;
    margin:0 10px;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    color:white;
    background:#222;
    transition:.3s;
}

button:hover{
    background:#444;
    transform:translateY(-3px);
    box-shadow:0 0 15px cyan;
}